.note {border:1px solid #00f;margin:5px auto;}
#addNote {background-color:#eee;border:1px solid #999;}
#addNote label {display:block;display:block;float:left;font-weight:bold;margin:0 5px;text-align:right;width:100px;}
.submit {padding:5px 0 5px 110px;}